ai_13/**/.~lock.*#
ai_13/**/lab_1_task_1_variant_6_artem_tkach
ai_13/**/lab_1_task_2_variant_6_artem_tkach
ai_13/**/algotester_task_1_variant_2_artem_tkach
ai_13/**/practice_task_1_artem_tkach
ai_13/**/self_practice_algotester_task_1_artem_tkach
ai_13/**/self_practice_algotester_task_2_artem_tkach
ai_13/**/*:Zone.Identifier
